<header>
  <nav>
    <a routerLink="/home" class="logo">
      <img src="assets/images/logoIC.png" alt="Logo" />
    </a>
    <div class="nav_item_wrap">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      <a routerLink="/events" routerLinkActive="active">Events</a>
      <a routerLink="/media" routerLinkActive="active">Gallery</a>
      <a routerLink="/facilities" routerLinkActive="active">Facilities</a>
      <a routerLink="/membership" routerLinkActive="active">Membership</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
    </div>
  </nav>
</header>
