<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-content">
      <img src="/assets/images/logoIC.png" alt="India Centre Logo" width="100">

      <nav class="footer-nav">
        <ul>
          <li><a href="/about-us/">About India Center</a></li>
          <li><a href="/facilities/">Our Facilities</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </nav>

      <p>&copy; 2024 India Centre. All rights reserved.</p>
    </div>
  </div>
</footer>

