<section id="banner">
  <app-banner
    [isHomePage]="false"
    title="About India Center"
    description="Welcome to India Center, where we celebrate Indian culture and bring together the community through cultural,
        social, and recreational programs.">
  </app-banner>
</section>

<section id="our-story" class="section">
  <div class="container story-content">
    <div class="story-text">
      <h2>Our Story</h2>
      <p>India Center Latvia was established in 2023 to create a vibrant space for the Indian community in Latvia.
        Our journey began with a shared vision of uniting people through cultural events and fostering friendships.
        We aim to preserve and promote Indian traditions while also integrating with the local culture.</p>
    </div>

    <div class="story-image">
      <img src="/assets/images/centre.png" alt="Our Story Image">
    </div>
  </div>
</section>


<section id="vision-mission-values" class="section">
  <div class="content-wrapper">
  <div class="container mission-content">
    <div class="mission-image">
      <img src="/assets/images/home/mission.png" alt="Mission and Vision Image">
    </div>

    <div class="mission-text">
      <h2>Mission & Vision </h2>
      <p>To celebrate, promote, and nurture Indian culture in Latvia, and foster unity within the community
        through cultural exchange and understanding. A world where cultures unite to create stronger communities,
        understanding, and mutual respect.</p>
    </div>
  </div>
  </div>
</section>

<section id="programs" class="section">
  <div class="container programs-content">
    <div class="programs-text">
      <h2>Programs and Activities</h2>
      <p>At India Center Latvia, we celebrate the richness of Indian culture through a variety of programs and
        activities. Our cultural festivals bring together the community with vibrant performances and traditional
        food, offering a taste of India’s festive spirit. Additionally, we host recreational activities such as yoga sessions, sports meets,
        and group excursions, creating a space for relaxation, wellness, and social bonding.</p>
    </div>

    <div class="programs-image">
      <img src="/assets/images/home/culture.png" alt="Programs and Activities Image">
    </div>
  </div>
</section>


<section id="team" class="section">
  <div class="content-wrapper">
  <div class="container">
    <h2>Our Team</h2>
    <br/>
    <div class="team-grid">
      <div class="team-member">
        <h3>Sumit Chakrobarty</h3>
        <p><em>Founder</em></p>
        <p>Sumit is the visionary behind India Center Latvia, dedicated to promoting cultural exchange and understanding. His leadership and passion lay the
          foundation for our work, inspiring positive change and building bridges between communities.</p>
      </div>
      <div class="team-member">
        <h3>Arpita Chakrobarty</h3>
        <p><em>Founder</em></p>
        <p>Arpita is the creative force behind our dynamic programs. With a passion for bringing people together, she ensures that each event at India Center Latvia
          is an enriching and memorable experience, fostering deeper connections within our community.</p>
      </div>
      <div class="team-member">
        <h3>Sundar </h3>
        <p><em>Community Outreach Lead</em></p>
        <p>Sundar plays a crucial role in fostering connections and building relationships with local and global communities.
          His dedication to outreach strengthens our mission, ensuring that every voice is heard and valued.</p>
      </div>
    </div>
  </div>
  </div>
</section>

<section id="testimonials" class="section">
  <div class="container">
    <div class="social-connect">
      <h3>Stay Connected with Us on Social Media!</h3>
      <p>Follow us for real-time updates, exciting events, and to be a part of our ever-growing community!</p>
      <div class="social-media">
        <a href="https://www.facebook.com/YourPage" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/YourPage" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section alternate-bg">
  <div class="container">
    <div class="contact-item">
      <h3>Give Us a Call</h3>
      <p>+371 255 864 95</p>
    </div>
    <div class="contact-item">
      <h3>We’re On The Map</h3>
      <p>Olaine province<br>Latvia, LV 1206</p>
    </div>
<!--    <div class="contact-item">-->
<!--      <h3>Send Us A Message</h3>-->
<!--      <p>Email: info&#64;indiacenterlatvia.org</p>-->
<!--      <p>Mail: India Center, PO Box 2, Olaine, LV 1206 </p>-->
<!--    </div>-->
  </div>
</section>



