<section id="banner">
  <app-banner
    [isHomePage]="false"
    title="Facilities at India Center"
    description="Discover our versatile spaces and amenities designed to host cultural events, celebrations, and community
        gatherings at the India Center.">
  </app-banner>
</section>

<section id="facility-content">
  <!-- Facilities List -->
  <div class="facilities" *ngIf="!viewMode">
    <div class="facility-list">
      <div *ngFor="let facility of facilities" class="facility-item">
        <img
          ngSrc="{{ facility.imageUrl }}"
          alt="{{ facility.name }}"
          class="facility-image"
          height="190"
          width="265"
        />
        <h3>{{ facility.name }}</h3>
        <p>{{ facility.description }}</p>
        <p>
          Price:
          <span *ngIf="facility.pricePerHour">
            {{ facility.pricePerHour | currency }} / Hour
          </span>
          <span *ngIf="facility.pricePerDay">
            {{ facility.pricePerDay | currency }} / Day
          </span>
        </p>
      </div>
    </div>
  </div>

  <!-- Availability Section -->
  <div class="facilities" *ngIf="viewMode === 'availability'">
    <div class="content-wrapper">
      <div class="image-container">
        <img [src]="selectedFacility?.imageUrl" alt="Selected Facility" class="facility-image-large" />
      </div>
      <div class="calendar-container">
        <h2>Check Availability for {{ selectedFacility?.name }}</h2>
                                <!--FACILITY DROPDOWN-->
        <label for="facilitySelect">Select Facility:</label>

        <select id="facilitySelect" [(ngModel)]="selectedFacility" (change)="onFacilityChange()">
          <option *ngFor="let facility of facilities" [ngValue]="facility">{{ facility.name }}</option>
        </select>

        <label for="startDate">Start Date:</label>
        <input type="date" [(ngModel)]="availabilityDates.startDate" id="startDate" [min]="currentDate" />
        <label for="endDate">End Date:</label>
        <input type="date" [(ngModel)]="availabilityDates.endDate" id="endDate" [min]="availabilityDates.startDate" />
        <button class="btn" (click)="checkAvailability()">Check Dates</button>
        <button class="btn btn-back" (click)="goBack()">Back to Facilities</button>
      </div>
    </div>
  </div>

  <!-- Booking Section -->
  <div class="facilities" *ngIf="viewMode === 'booking'">
    <div class="content-wrapper">
      <div class="image-container">
        <img [src]="selectedFacility?.imageUrl" alt="Selected Facility" class="facility-image-large" />
      </div>
      <div class="form-container">
        <h2>Book {{ selectedFacility?.name }}</h2>

        <label for="facilitySelect">Select Facility:</label>

        <select id="facilitySelect1" [(ngModel)]="selectedFacility" (change)="onFacilityChange()">
          <option *ngFor="let facility of facilities" [ngValue]="facility">{{ facility.name }}</option>
        </select>

        <label for="startDate">Start Date:</label>
        <input type="date" [(ngModel)]="bookingDates.startDate" id="stDate" [min]="currentDate" />
        <label for="endDate">End Date:</label>
        <input type="date" [(ngModel)]="bookingDates.endDate" id="enDate" [min]="bookingDates.startDate" />
        <button class="btn" (click)="bookFacility()">Confirm Booking</button>
        <button class="btn btn-back" (click)="goBack()">Back to Facilities</button>
      </div>
    </div>
  </div>
</section>

<!-- Booking Section -->
<section id="booking" class="section alternate-bg">
  <div class="container">
    <div class="booking-item">
      <h3>Check Availability</h3>
      <p>To get more details, click the below button:</p>
      <button (click)="showAvailability(facilities[0])" class="btn">Check Availability</button>
    </div>
    <div class="booking-item">
      <h3>Book Facility</h3>
      <p>To book a facility, please click the below button:</p>
      <button (click)="showBooking(facilities[0])" class="btn">Book Now</button>
    </div>
    <div class="booking-item">
      <h3>More Information</h3>
      <p>To get more info, please click the below button:</p>
      <button (click)="redirectToBooking()" class="btn">Information</button>
    </div>
  </div>
</section>
