<app-banner
  [isHomePage]="true"
  title="Welcome to the India Centre Latvia"
  description="Connecting the Indian community and our Latvian friends in a celebration of culture, joy, and unity.">
</app-banner>


<section id="welcome" class="section">
  <div class="container welcome-content">
    <div class="welcome-text">
      <br/>
      <h2>Experience the Essence of India</h2>
      <br/>
      <div class="welcome-text-grid">
        <p>
          At India Centre Latvia, we bring the vibrant essence of India to the heart of Latvia, uniting the Indian
          community and our Latvian friends in a celebration of culture, joy, and togetherness. Our mission is to
          create a welcoming space that fosters a sense of belonging, offers enriching cultural experiences, and
          builds meaningful connections. Whether you’re here to reconnect with your roots, experience the lively
          spirit of Indian festivals, or explore our rich cultural heritage, India Centre Latvia is truly your home
          away from home.
        </p>
      </div>
    </div>

    <div class="filter-events">
      <div class="filter">
        <select class="filter-select" [(ngModel)]="selectedEventType" (change)="filterEvents()">
          <option value="Upcoming">Upcoming Events</option>
          <option value="Current">Current Events</option>
          <option value="Past">Past Events</option>
        </select>
      </div>

      <div class="events">
        <div class="event-list">
          <div class="event-item" *ngFor="let event of events">
            <h3>{{ event.title }}</h3>
            <p class="event-details">{{ event.date }} - {{ event.location }}</p>
            <p class="event-description">{{ event.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="our-story">
  <div class="container story-content">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="./assets/images/home/culture.png" alt="">
        </div>
        <div class="slide">
          <img src="./assets/images/home/mission.png" alt="">
        </div>
        <div class="slide">
          <img src="./assets/images/home/LightUp.png" alt="">
        </div>
      </div>
    </div>

    <div class="about-text">
      <h2>About Us</h2>
      <br/>
      <div class="welcome-text-grid">
        <p>
          India Centre Latvia was established in 2023 to create a vibrant space for the Indian community in Latvia.
          Our journey began with a shared vision of uniting people through cultural events and fostering friendships.
          We aim to preserve and promote Indian traditions while also integrating with the local culture. A world where
          cultures unite to create stronger communities, understanding, and mutual respect.
        </p>
      </div>
      <div>
        <button class="read-more-button" (click)="goToAboutUs()">Read More</button>
      </div>
    </div>
  </div>
</section>

<section id="highlights" class="section">
  <div class="content-wrapper">
    <div class="container">
      <h2>Explore Our Offerings</h2>
      <div class="highlight-grid">
        <div class="highlight">
          <img src="./assets/images/home/img.png" alt="Festival Icon">
          <h3>Cultural Programs</h3>
          <p>An opportunity to experience and participate in Indian traditions and festivals.</p>
        </div>
        <div class="highlight">
          <img src="./assets/images/home/IMG_1090.JPG" alt="Festival Icon">
          <h3>Community Events</h3>
          <p>Events that strengthen our community bonds, open to all members and friends.</p>
        </div>
        <div class="highlight">
          <img src="./assets/images/home/wellness.png" alt="Festival Icon">
          <h3>Wellness & Recreation</h3>
          <p>Relax and rejuvenate with access to our wellness facilities, including the sauna and guest house.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Get in Touch</h2>
        <div>
          <p><i style="color: #800020FF;" class="fas fa-map-marker-alt"></i> Olaine province, Latvia</p>
          <p><i style="color: #800020FF;" class="fas fa-envelope"></i> info&#64;indiacenterlatvia.org</p>
        </div>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10824.574262104006!2d24.093979728191047!3d56.78610837321049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e3d9a3f68e64a7%3A0x4b2c37c07732f4ef!2sOlaine%2C%20Latvia!5e0!3m2!1sen!2sus!4v1630983407803!5m2!1sen!2sus"
          width="90%"
          height="300"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 cont-div highlighted-div">
        <h3>Message Us</h3>

        <div *ngIf="emailSent" class="alert alert-success">Your message has been sent successfully.</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <p>Please complete the below form to submit your query or feedback.</p>
        <form [formGroup]="form" (ngSubmit)="sendEmail()">
          <div class="form-group" data-scroll-reveal="enter from the left after .6s">
            <input class="form-control" formControlName="from_name" type="text" id="name" required
                   placeholder="Full Name*" aria-label="Full Name">

          </div>
          <div class="form-group" data-scroll-reveal="enter from the left after .7s">
            <input class="form-control" formControlName="phone" type="text" id="tel" placeholder="Your Phone*"
                   aria-label="Your phone">
          </div>
          <div class="form-group" data-scroll-reveal="enter from the left after .8s">
            <input class="form-control" formControlName="from_email" type="email" id="email" required
                   placeholder="Email*">

          </div>
          <div class="form-group" data-scroll-reveal="enter from the left after .9s">
            <input class="form-control" formControlName="subject" type="text" id="subject" required
                   placeholder="Enter your subject*">
          </div>
          <div class="form-group" data-scroll-reveal="enter from the left after .10s">
            <textarea class="form-control" formControlName="message" id="message" required
                      placeholder="Type your message*"></textarea>
          </div>
          <div class="form-group" data-scroll-reveal="enter from the left after .11s">
            <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY" style="margin: 15px 0;"></div>
          </div>

          <button type="submit" class="btn btn-style-2">Submit Request</button>

        </form>

      </div>
    </div>
  </div>
  <br/>
</section>
