.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 20px;
  text-align: center;
}

/* Welcome Content Section */
.container {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}

.welcome-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.welcome-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
}

#welcome .welcome-grid p {
  padding: 0;
  margin: 0;
  color: #666;
  line-height: 1.2;
}

.welcome-text-grid {
  font-size: 1.1em;
  text-align: Left;
}

.filter {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
}

.welcome-text {
  flex: 2;
}

.filter-select {
  width: 200px;
  padding: 8px;
  font-size: 1em;
  color: #003366;
  background-color: #ffffff;
  border: 2px solid #104a62;
  border-radius: 5px;
  appearance: none;
  text-align-last: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.filter-select:hover {
  background: linear-gradient(90deg,#006F8E, #003366);
  color: white;
  border-color: #FF7F00;
}

.filter-select option {
  background-color: #f8f8f8;
  color: #003366;
  padding: 8px;
}

.filter-select:active,
.filter-select:focus {
  background:linear-gradient(90deg, #006F8E, #003366);
  color: white;
}

.events {
  max-height: 280px;
  overflow-y: auto;
  padding: 0 20px;
  background-color: #FFFFFF;
  text-align: center;
}

.event-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.event-item {
  flex: 1;
  min-width: calc(33.33% - 10px);
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.event-item:hover {
  transform: translateY(-5px);
}

.event-item h3 {
  font-size: 1em;
  margin: 0 0 4px 0;
}

.event-details,
.event-description {
  font-size: 0.85em;
  margin: 0;
}

#our-story .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 20px;
}

#our-story .slider {
  flex: 1;
}

.story-text {
  flex: 2;
  padding-right: 20px;
  text-align: right;
}

.story-image {
  flex: 1;
}

.story-image img {
  max-width: 100%;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-content {
  display: initial;
  align-items: flex-start;
  gap: 20px;
}

#our-story .about-text {
  flex: 2;
}

.highlight-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.highlight {
  flex: 1 1 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.content-wrapper {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.highlight:hover {
  transform: translateY(-5px);
}

.highlight h3 {
  font-size: 1.5em;
  color: #333;
}

.highlight p {
  color: #666;
}

.read-more-button {
  margin-top: 5px;
  padding: 3px 5px;
  font-size: 1em;
  color: #003366;
  background-color: #ffffff;
  border: 2px solid #104a62;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}


.read-more-button:hover {
  background: linear-gradient(90deg,#006F8E, #003366);
  color: #FFFFFF;
  border-color: #FF7F00;
  transform: translateY(-2px);
}

.read-more-button:active,
.read-more-button:focus {
  background:linear-gradient(90deg, #006F8E, #003366);
  color: white;
}

.highlighted-div {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#highlights img {
  width: 100px;
  height: 100px;
}

.cont-div {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn-style-2 {
  background-color: #ffffff;
  color: #104a62;
  border: 2px solid #003366;
  padding: 10px ;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-style-2:hover {
  background: linear-gradient(90deg,#006F8E, #003366);
  color: #FFFFFF;
  border-color: #FF7F00;
  transform: translateY(-2px);
}

.btn-style-2:active,
.btn-style-2:focus {
  background:linear-gradient(90deg, #006F8E, #003366);
  color: white;
}

.slider-container,
.about-text {
  padding: 20px;
}

.slider {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 3));
  }
}

.slide {
  min-width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 50px;
}

.slide img {
  width: 350px;
  height: 200px;
}

img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

@media (max-width: 768px) {
  .welcome-grid {
    flex-direction: column;
    align-items: center;
  }

  .filter-events {
    flex: 1;
    padding: 10px 0;
  }

  .events {
    max-height: 200px;
  }

  .event-list {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 769px) {
  .event-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
