<section id="banner">
  <app-banner
    [isHomePage]="false"
    title="Membership"
    description="Become a part of the India Centre family with member-only perks, access to special events, and personalized experiences.">
  </app-banner>
</section>

<section id="membership" class="section">
  <div class="container">
    <div class="membership-type">
      <h2>€1000</h2>
      <p>Yearly</p>
      <hr/>
      <h3>Family</h3>
      <p>Perfect for households of two or more</p>
      <a class="btn-register">
        <i class="fa-regular fa-hand-pointer"></i>
        Register Now
      </a>
    </div>

    <div class="membership-type">
      <h2>€500</h2>
      <p>Yearly</p>
      <hr/>
      <h3>Individual</h3>
      <p>Your personal access to wellness, culture, and everything in between</p>
      <a class="btn-register">
        <i class="fa-regular fa-hand-pointer"></i>
        Register Now
      </a>
    </div>

    <div class="membership-type">
      <h2>€350</h2>
      <p>Yearly</p>
      <hr/>
      <h3>Student</h3>
      <p>Specially for full-time students with valid Id</p>
      <a class="btn-register">
        <i class="fa-regular fa-hand-pointer"></i>
        Register Now
      </a>
    </div>
  </div>
</section>

<section id="membership-benefits" class="section">
  <div class="content-wrapper">
    <div class="container benefit-content">
      <div class="benefit-text">
        <h2>Membership Benefits & Perks</h2>
        <p>At India Centre Latvia, we offer a wide range of benefits designed to promote a healthy lifestyle, cultural
          engagement, and community building. Our membership is more than just access to a space – it’s an opportunity
          to become part of a vibrant community that celebrates Indian culture while encouraging wellness, personal
          growth, and social connection.</p>
        <p>With a variety of activities and programs, you will enjoy an enriching
          experience that nurtures both body and mind. Below are the key benefits of being a member:</p>

        <div class="accordion" id="benefitAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="benefit-expand">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#benefit-collapse"
                      aria-expanded="false" aria-controls="benefit-collapse">
                Membership Benefits
              </button>
            </h2>
            <div id="benefit-collapse" class="accordion-collapse collapse" aria-labelledby="benefit-expand"
                 data-bs-parent="#benefitAccordion">
              <div class="accordion-body">
                <ul class="list single-line margin-v-0">

                  <h5>Individual Health & Wellness Benefits</h5>
                  <ul>
                    <li>20+ Group Exercise Classes (at no additional cost)</li>
                    <li>Center of Excellence in Yoga</li>
                    <li>State of the art Cardio Exercise Equipment</li>
                  </ul>

                  <h5>Community & Cultural Engagement</h5>
                  <ul>
                    <li>Senior Programs (Activities, Talks, Yoga)</li>
                    <li>India Immersion/Specialty Camps</li>
                    <li>Teen Leadership Program</li>
                  </ul>

                  <h5>Recreational Activities & Sports</h5>
                  <ul>
                    <li>Board Games and Table Tennis</li>
                    <li>Volleyball (with sandpit)</li>
                    <li>Sports Facilities for other recreational sports</li>
                    <li>Family-Friendly Events and Competitions</li>
                  </ul>

                  <h5>Convenience & Community Amenities</h5>
                  <ul>
                    <li>Community Bulletin Board</li>
                    <li>Free Wi-Fi Across Premises</li>
                    <li>Special Discounts & Offers</li>
                  </ul>
                  <br>
                  <p>For more information about membership benefits, please contact Membership&#64;IndiaC.org</p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="membership-policy" class="section">
  <div class="container policy-content">
    <div class="policy-text">
      <h2>Membership Policies</h2>
      <p>At India Centre Latvia, we aim to build a welcoming community that celebrates Indian culture and fosters
        cultural exchange. Through our variety of programs, such as yoga, cultural festivals, and group excursions, we
        create a space for wellness, relaxation, and connection.</p>

      <p>To maintain a supportive and respectful environment, we have established membership policies that guide
        facility
        use, membership benefits, and the overall member experience. Below are the key aspects of our policies:</p>

      <div class="accordion" id="policyAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="policy-expand">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#policy-collapse"
                    aria-expanded="true" aria-controls="policy-collapse">
              Membership Policies
            </button>
          </h2>
          <div id="policy-collapse" class="accordion-collapse collapse" aria-labelledby="policy-expand"
               data-bs-parent="#policyAccordion">
            <div class="accordion-body">
              <ul class="list single-line margin-v-0">

                <h5>General Policies</h5>
                <ul>
                  <li>Membership is non-transferable and non-refundable.</li>
                  <li>Benefits apply only to active members.</li>
                </ul>

                <h5>Family Membership Policies</h5>
                <ul>
                  <li>Children above 18 years are not included in the family membership and must enroll separately.</li>
                  <li>No holds are allowed on annual memberships.</li>
                </ul>

                <h5> Annual Membership Policies</h5>
                <ul>
                  <li>Annual memberships cannot be canceled unless based on disability or relocation with appropriate
                    proof.
                  </li>
                  <li>Cancellation due to disability requires a doctor's certificate.</li>
                </ul>

                <h5> Access Policy & Day Pass Rates</h5>
                <ul>
                  <li>Membership grants access to all areas of the facility except staff areas.</li>
                  <li>Non-members can purchase a day pass for $10 for temporary access.</li>
                  <li>$10 fee for lost cards for full access members.</li>
                </ul>

                <h5> Cancellation & Hold Policy</h5>
                <ul>
                  <li>Members can cancel or hold their membership by providing a signed notice or submitting a
                    cancellation/hold form.
                  </li>
                  <li>Cancellation requests will be processed based on terms like notice dates, with dues continuing to
                    accrue until the cancellation is effective.
                  </li>
                  <li>The hold period can be maintained for a maximum of 3 months per year.</li>
                  <li>Rejoining after cancellation requires a new enrollment fee and dues at the current rate.</li>
                </ul>

                <br>
                <p>For clarifications on policies, or more information, please email info&#64;Indiacc.org</p>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="membership-contact" class="section alternate-bg">
  <div class="container">
    <div class="membership-item">
      <h3>Become an IC Member</h3>
      <p>Enjoy access to exclusive programs, activities, and many more.</p>
    </div>

    <div class="membership-item">
      <h3>Visit Our Facility</h3>
      <p>Our facility is equipped with state-of-the-art amenities including sauna, pond, wellness & more.</p>
      <p>Olaine Municipality, Latvia, LV 1206</p>
    </div>

    <div class="membership-item">
      <h3>Benefits & Policies</h3>
      <p>Enjoy a wide range of benefits designed to promote wellness and community engagement.</p>

      <p>For more details, contact <a href="mailto:info@indiacenterlatvia.org">info&#64;indiacenterlatvia.org</a></p>
    </div>
  </div>
</section>




